<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Максимус</title>
    <link href="../static/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="block1"></div>
    <div class="block2">
        <h2>
            О нашем клубе
        </h2>
        <img src="../static/img/block 2/Лошадь в прыжке 1.png">
        <div class="achivments">
            <div class="achivment">
                <div class="achivment_size">1100+</div>
                <div class="achivment_text">Довольныx посетителей
                    за последний год</div>
            </div>
            <div class="achivment">
                <div class="achivment_size">50+</div>
                <div class="achivment_text">Проведенных мероприятий
                    за 6 месяцев</div>
            </div>
            <div class="achivment">
                <div class="achivment_size">20+</div>
                <div class="achivment_text">Выпущено профессиональных
                    спортсменов за 1 год</div>
            </div>
            <div class="achivment">
                <div class="achivment_size">15+</div>
                <div class="achivment_text">Регулярных занятий
                    в неделю с профессиональными наставниками</div>
            </div>
        </div>
        <div class="about_club_text">
            Занятия проводятся индивидуально и в группах, стоимость также будет зависеть от ваших навыков и умений. Более выгодные условия
предусмотрены для регулярных занятий при покупке абонементов.
Для тех, кто хочет отточить своё мастерство, разработаны программы по специализации (конкур, выездка и другие), участие в соревнованиях и чемпионатах. Для самых маленьких любителей лошадей действуют
пони-клубы, где ребята учатся ухаживать за животными и ездить на милых и добрых пони.
        </div>
        
    </div>
    <div class="block3">
        <div class="why_us_header">
            <h2>
                Почему нас выбирают
            </h2>
            <p>
                О нас
            </p>
        </div>
        <div class="why_us_blocks">
            <div class="why_us_block">
                <img src="../static/img/block 3/карта 1.png">
                <h3>Удобное расположение</h3>
                <p>Мы находимся недалеко
от автостанции «Восточный» чтобы вам было удобно добираться</p>
            </div>
            <div class="why_us_block">
                <img src="../static/img/block 3/image 4.png">
                <h3>Обеденная зона</h3>
                <p>Имеется столовая, чтобы Вы могли  перекусить и немного отдохнуть. 
Бесплатно чай, кофе, печенки.</p>
            </div>
            <div class="why_us_block">
                <img src="../static/img/block 3/Секундомер 1.png">
                <h3>Профессиональные тренера</h3>
                <p>Наши преподаватели имеют награды в конном спорте, и отличные отзывы среди наших учеников</p>
            </div>
            <div class="why_us_block">
                <div class="why_us_image">
                    <img src="../static/img/block 3/знак парковки 1.png" class="parking_since">
                    <img src="../static/img/block 3/авто.png" class="car">
                </div>
                <h3>Бесплатная парковка</h3>
                <p>У нас имеется просторная парковка, чтобы вы могли без проблем припарковать свой автомобиль</p>
            </div>
        </div>
    </div>
    <div class="block4"></div>
    <div class="block5">
        <h2>Наши посетители</h2>
        <div class="our_visitors_img">
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_mjXm9gYP4wE.png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (6).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (2).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (7).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (5).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (3).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk.png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (8).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (4).png">
            </div>
            <div class="visit_img">
                <img src="../static/img/block 5/unsplash_komor3oKNCk (1).png">
            </div>
        </div>
        <div class="navigation">
            <button class="arrow">
                <img src="../static/img/block 5/Vector.png">
            </button>
            <div class="controls">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
            <button class="arrow">
                <img src="../static/img/block 5/Vector (1).png">
            </button>
        </div>
    </div>
    <div class="block6"></div>
    <div class="block7"></div>
    <div class="block8"></div>
    <div class="block9"></div>
    <div class="block10"></div>
</body>
</html>