@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@media screen and (max-width: 480px) {
    .block2, .block3, .block5 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .block2 img {
        width: 100%;
    }
    .why_us_block {
        margin-bottom: 20px;
    }
    .our_visitors_img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .block2, .block3, .block5 h2 {
        text-align: center;
    }
    
}

.body {
    width: 100%;
}

.block2 {
    width: 75%;
    height: 60%;
    margin-left: 13%;
    column-count: 2;
    column-gap: 200px;
}

.block2 h2{
    column-span: all;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: 36px;
    font-family: 'Philosopher';
}

.about_club_text {
    width: 570px;
    height: 225px;
    font-family: 'Roboto';
    color: #7E7E7E;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 50px;
}

.achivment_size {
    color: #008139;
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 42px;
    line-height: 67px;
}

.achivment_text {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    color: #0B0B0B;
}

.achivments {
    column-count: 2;
    column-gap: 30px;
}

.block3 {
    margin-left: 20%;
    width: 60%;
    height: 36%;
    column-count: 4;
    margin-top: 200px;
}

.block3 h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    font-family: 'Philosopher';
}

.block3 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Roboto';
}

.why_us_header {
    column-span: all;
    text-align: center;
}
    
.why_us_blocks p {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #7E7E7E;
    vertical-align: middle;
}

.why_us_blocks h3 {
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #0B0B0B;
}

.why_us_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    break-inside: avoid;
}

.why_us_block img {
    height: 95px;
}

.why_us_image {
    position: relative;
}

.parking_since {
    height: 20px;
    width: 20px;
    transform: translate(-55px, -25px);
}

.car {
    position: absolute;
    transform: translateX(-90px);
}

.block5 {
    margin-top: 200px;
    width: 100%;
    height: 812px;
}

.block5 h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    font-family: 'Philosopher';
    text-align: center;
}

.navigation {
    display: flex;
    margin-top: 50px;
    width: 210px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 10px;
    break-inside: avoid;
}

.point {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #E1E1E1;
    margin: 0 0 10px 10px;
}

.arrow {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    margin: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
    overflow: hidden;
}

.arrow img{
    z-index: 1;
}

.arrow::before {
    content: "";
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    transition: all;
    background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
    transform: translateX(100%);
    z-index: 0;
}

.arrow:hover::before {
    transform: translateX(0);
}

.visit_img:nth-child(5) {
    width: 290px;
}

.visit_img:nth-child(10) {
    width: 390px;
}

.visit_img{
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    transform: translateX(-15px);
    overflow: hidden;
}

.visit_img::before {
    content: "";
    width: 100%;
    height: 99%;
    position: absolute;
    transition: all 0.2s;
    background-color: #0B0B0B;
    opacity: 0%;
}

.visit_img::after {
    content: url("../img/block 5/magnifier.png");
    top: 46%;
    left: 48%;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 100;
    opacity: 0%;
}

.visit_img:hover::before {
    opacity: 50%;
}

.visit_img:hover::after {
    opacity: 100%;
}